<h1> Blog to talk shit about Bronte sisters' literature and other shit </h1>

<ul>

<li> <%= link_to 'My Blog', controller: 'articles' %> </li>
<li> <%= link_to 'New article', new_article_path %> </li>

</ul>


